html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;

}

.headline {
  text-align: center;
  margin-top: 50px;

}

.inputHeadline,
.outputHeadline {
  text-align: center;
  margin: 50px auto 0 auto;
  width: 50%;
  height: 50px;
  line-height: 50px;
  background-color: rgb(114, 110, 110);
}
.textareaField {
  box-sizing: border-box;
  border-left: 5px solid rgb(114, 110, 110);
  border-right: 5px solid rgb(114, 110, 110);
  border-bottom: 5px solid rgb(114, 110, 110);
  width: 50%;
  display: block;
  margin: 0 auto;
}